<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzLrVKnPF_ZajD7MOplutU2kPpql7oqYc</string>
	<key>GCM_SENDER_ID</key>
	<string>992893670110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookRoom</string>
	<key>PROJECT_ID</key>
	<string>book-room-c4c07</string>
	<key>STORAGE_BUCKET</key>
	<string>book-room-c4c07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992893670110:ios:5ebd4eb7b0793896bd284f</string>
</dict>
</plist>